<div class="service-badge way-fade">
  <div class="panel panel-default">
    <div class="panel-body">
      p1
    </div>
  </div>
</div>
<div class="service-badge way-fade">
  <div class="panel panel-default">
    <div class="panel-body">
      p1
    </div>
  </div>
</div>
<div class="service-badge way-fade">
  <div class="panel panel-default">
    <div class="panel-body">
      p1
    </div>
  </div>
</div>
<div class="service-badge way-fade">
  <div class="panel panel-default">
    <div class="panel-body">
      p1
    </div>
  </div>
</div>
<div class="service-badge way-fade">
  <div class="panel panel-default">
    <div class="panel-body">
      p1
    </div>
  </div>
</div>
<div class="service-badge way-fade">
  <div class="panel panel-default">
    <div class="panel-body">
      p1
    </div>
  </div>
</div>
<div class="service-badge way-fade">
  <div class="panel panel-default">
    <div class="panel-body">
      p1
    </div>
  </div>
</div>
<div class="service-badge way-fade">
  <div class="panel panel-default">
    <div class="panel-body">
      p1
    </div>
  </div>
</div>
<div class="service-badge way-fade">
  <div class="panel panel-default">
    <div class="panel-body">
      p1
    </div>
  </div>
</div>