<div class='row'>
  <div class="service-badge size-10 way-fade">
    <div class="panel panel-default">
      <div class="panel-body">
        r1c1
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        r2c1
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        r1c1
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        r1c1
      </div>
    </div>
  </div>
  <div class="service-badge size-20 way-fade">
    <div class="panel panel-default">
      <div class="panel-body">
        r1c1
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        r2c1
      </div>
    </div>
  </div>
  <div class="service-badge size-10 way-fade">
    <div class="panel panel-default">
      <div class="panel-body">
        r1c1
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        r2c1
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        r1c1
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        r1c1
      </div>
    </div>
  </div>
  <div class="service-badge size-40 way-fade">
    <div class="panel panel-default">
      <div class="panel-body">
        p1
      </div>
    </div>
  </div>
  <div class="service-badge size-20 way-fade">
    <div class="panel panel-default">
      <div class="panel-body">
        r1c1
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        r2c1
      </div>
    </div>
  </div>
</div>


<div class='row'>
  <div class="service-badge size-25 way-fade">
    <div class="panel panel-default">
      <div class="panel-body">
        r1c1
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        r2c1
      </div>
    </div>
  </div>
  <div class="service-badge size-25 way-fade">
    <div class="panel panel-default">
      <div class="panel-body">
        r1c1
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        r2c1
      </div>
    </div>
  </div>
  <div class="service-badge size-50 way-fade">
    <div class="panel panel-default">
      <div class="panel-body">
        p1
      </div>
    </div>
  </div>
  
</div>