body {
    margin: 0;
    padding:0;
    background: url("../assets/video/waterDrop.jpg") fixed top;
    @include media-query($screen-sm) {
        padding-bottom: 65px;
    }
}
$main-color: rgb(247, 253, 0);
h1, h2, h3, h4 {
    padding-bottom: 0;
    color: $main-color;
    text-shadow:
   -1px -1px 1px #000,  
    1px -1px 1px #000,
    -1px 1px 1px #000,
     1px 1px 1px #000;
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    // position: fixed; right: 0; left: auto; bottom: 0;
    // min-width: 100%; min-height: 100%;
    // width: auto; height: auto; z-index: -100;
    // background: url(../assets/sunset.jpg) no-repeat;
    // background-size: cover;
}



/**
 * Site header
 */
.site-header {
    top: 0;
    margin: 0;
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    color: #FFF;
    background-color: $grey-color-dark;
    z-index: 1;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    &:after {
        margin-bottom: 300px;  
    }
    background: url("../assets/images/metalbg.png");
    
}

.site-title {
    font-size: 26px;
    letter-spacing: -1px;
    margin: 0;
    padding: 10px 0 0 0;
    float: left;
    transition: font-size .5s;
    color: $grey-color-light;
    &:hover {
        color: $grey-color-light;
    }
    h3 {
        margin: 0;
    }
    margin-top: 10px;
}
.phone-title {
    @include border-top-radius(5px);
    @include border-right-radius(5px);
    @include border-bottom-radius(5px);
    @include border-left-radius(5px);
    .btn-success{
        background-color: green;    
    }
    
    
    padding: 5px;
    font-size: 26px;
    margin-top: 10px;
    letter-spacing: -1px;
    color: $main-color;
    float: left;
    color: $grey-color-light; 
    @include media-query($screen-md-max) {
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 65px;
        opacity: 1;
        background-color:green;
        text-align: center;
        margin: 0;
        padding: 10px;
        z-index: 999;
        font-size: 25px;
    }

    &:hover {
        color: $grey-color-light;
        &:after {
            font-size: 6;
            opacity: 1;
            transition: all .5s;
        }
    }
    margin-left: 10px;
}

.site-nav {
    margin: 0;
    padding: 0;
    float: right;
    line-height: 56px;
    background-color: transparent;
    @include media-query($screen-sm) {
        background-color: $grey-color-dark;    
    }
    border: none;
    .page-link {
        color: $grey-color-light;
        line-height: $base-line-height;
        transition: font-size .5s;
        &:hover {
            text-decoration: underline;
        }
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    ul {
        margin: 0 0 0 0;
        padding: 0;
    }
    li {
        &:hover, &:active {
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border: 0px solid #000000;
        }
        padding: 0 5px 0 5px;
        text-align: center;
        display: inline-block;
        list-style: none;
        a {
            display: block;
            margin: 0;
            padding: 5px;
            height: 100%;
            width: 100%;
            @include media-query($screen-sm) {
                &:hover {
                    background-color: darken($grey-color-dark, 5%);
                }
                border-bottom: 1px solid $grey-color-light;    
                padding: 10px;
            }
        }
        @include media-query($screen-sm) {
            display: block;
            margin: 0;
            padding: 0;
        }
    }
}
.content-container {
    padding-top: 15px;
    background-color: rgba(255,255,255, .95);
}
footer {
    background-color: rgba(255,255,255, .95);   
}
.badges {
    padding-top:70px;
}

$offcanvas-width: 250px !default; // The width of the offcanvas menu
$offcanvas-animation-time: 0.15s !default; // Transition time to pull/hide menu
$offcanvas-toggle-background: $grey-color-dark !default; // Background colour for toggle
$offcanvas-toggle-bars-color: $grey-color-light !default; // Colour for icon bars in toggle
@import "offcanvas/bootstrap.offcanvas";

