.slick {
    background: #000;
    // margin: 0 auto;
    .panel {
        background: transparent;
        // text-align: center;
        img {
            padding: 10px;
            // display: inline-block;
            max-width: 500px;
            max-height: 300px;
        }
    }
}