<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class='slick' style='display: none'>
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/plumbing/drain.jpg">
      </div>
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/plumbing/sink.jpg">
      </div>
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/plumbing/toilet.jpg">
      </div>
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/plumbing/tub.jpg">
      </div>
      <div class="panel">
        <img src="{{ site.baseurl }}/assets/images/plumbing/waterpipe.jpg">
      </div>
    </div>
    <div class="slider-nav"></div>
    <div class="">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div class="service-badge">
              <div class="panel panel-default">
                <div class="panel-body">
                  Basic panel example
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-10">{{ content }}</div>
          <div class="col-lg-2">
            <div class="service-badge">
              <div class="panel panel-default">
                <div class="panel-body">
                  Basic panel example
                </div>
              </div>
            </div>
            <div class="service-badge">
              <div class="panel panel-default">
                <div class="panel-body">
                  Basic panel example
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include jsincludes.html %}
  </body>

</html>
