<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class='slick'>
      <div class="panel">
        <img src="/assets/images/plumbing/drain.jpg">
      </div>
      <div class="panel">
        <img src="/assets/images/plumbing/sink.jpg">
      </div>
      <div class="panel">
        <img src="/assets/images/plumbing/toilet.jpg">
      </div>
      <div class="panel">
        <img src="/assets/images/plumbing/tub.jpg">
      </div>
      <div class="panel">
        <img src="/assets/images/plumbing/waterpipe.jpg">
      </div>
    </div>
    <div class="slider-nav"></div>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include jsincludes.html %}
  </body>

</html>
